<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>ERROR!</h4>
    <p>Fetching commits from <strong>Github</strong> is a heavy operation. Therefore, if the user you're trying to fetch has a heavy amount of repositories and commits, fetching the commits might take a while.</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Okay</a>
  </div>
</div>
