<div style="padding-left: 10px; margin-top: 5%;">
 <!--Search input-->
  <div class="container input-field col s6" style="width: 40%">
    <i class="material-icons prefix">account_circle</i>
    <input id="icon_prefix" type="text" class="validate" [(ngModel)]="username" name="username" (keyup) = "get(); test()" autofocus>
  </div>

  <!--User Card-->
  <div class="row">
    <div class="col s3">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{githubUser.avatar_url}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><p class="left-align">{{githubUser.name}}</span>
          <div class="row container">
            <div class="col s6">
              <p> <a class="btn btn-floating btn-large light-blue darken-3 pulse" data-position="bottom" data-delay="50" data-tooltip="Go to my amazing profile!"
                     style="background-color: #2979ff" href="{{githubUser.html_url}}" target="_blank">
                <i class="material-icons">person</i></a></p>
            </div>
            <div class="col s6">
              <p> <a class="btn btn-floating btn-large teal darken-2 pulse" data-position="bottom" data-delay="50" data-tooltip="Go to my amazing profile!"
                     style="background-color: #2979ff" (click)="test()" target="_blank">
                <i class="material-icons">assessment</i></a>
              </p>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{githubUser.name}}<i class="material-icons right">close</i></span>
          <p class="left-align">{{githubUser.bio}}</p>
        </div>
      </div>

    </div>

    <!--Basic user data-->
    <div class="col s4">
      <ul class="collection hoverable">
        <li class="collection-item avatar" *ngIf="githubUser.location">
          <i class="material-icons circle indigo">location_city</i>
          <span class="title"><p class="left-align"><strong>From</strong></p></span>
          <p class="left-align" style="color:dimgrey">{{githubUser.location}}</p>
        </li>
        <li class="collection-item avatar" *ngIf="githubUser.email">
          <i class="material-icons circle blue">email</i>
          <span class="title"><strong><p class="left-align">Email</p></strong></span>
          <p class="left-align" style="color: dimgrey;">{{githubUser.email}}</p>
        </li>
        <li class="collection-item avatar" *ngIf="githubUser.company">
          <i class="material-icons circle green">work</i>
          <span class="title"><strong><p class="left-align">Company</p></strong></span>
          <p class="left-align" style="color: dimgrey">{{githubUser.company}}</p>
        </li>
        <li class="collection-item avatar" *ngIf="githubUser.blog">
          <i class="material-icons circle red">web</i>
          <span class="title"><strong><p class="left-align">Blog</p></strong></span>
          <p class="left-align" style="color: dimgrey"><a href="{{githubUser.blog}}" target="_blank">{{githubUser.blog}}</a></p>
        </li>
        <li class="collection-item avatar" *ngIf="githubUser.public_repos || githubUser.public_gists">
          <i class="material-icons circle teal">trending_up</i>
          <span class="title"><strong><p class="left-align">Repos and Gists</p></strong></span>
          <p class="left-align" style="color: dimgrey">Public Repos: {{githubUser.public_repos}}</p>
          <p class="left-align" style="color: dimgrey">Public Gists: {{githubUser.public_gists}}</p>
        </li>
        <li class="collection-item avatar" *ngIf="githubUser.followers || githubUser.following">
          <i class="material-icons circle purple">stars</i>
          <span class="title"><strong><p class="left-align">Followers and Following</p></strong></span>
          <p class="left-align" style="color: dimgrey">Followers: {{githubUser.followers}}</p>
          <p class="left-align" style="color: dimgrey">Following: {{githubUser.following}}</p>
        </li>
        <li class="collection-item avatar" *ngIf="githubUser.created_at">
          <i class="material-icons circle deep-orange">assignment_ind</i>
          <span class="title"><strong><p class="left-align">Signed Up for Github on</p></strong></span>
          <p class="left-align" style="color: dimgrey">{{githubUser.created_at | date:'longDate'}}</p>
        </li>
      </ul>
    </div>

    <!--Charts-->
    <div class="col s5" *ngIf="prog">
      <app-chart [repos]="repos" [githubUser]="githubUser" [username]="username"></app-chart>
    </div>

  </div>

  <!--How to-->
  <app-howto></app-howto>

</div>
