<nav class="nav-extended blue darken-3">
  <div class="nav-wrapper">
    <span style="margin-left: 20px;"><a href="#" class="brand-logo"><i class="material-icons" style="font-size: 3rem">
filter_tilt_shift</i>Developer Profile Analyzer</a></span>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#" class="social github"><i class="material-icons left">
        person</i>Github</a></li>
      <li><a href="#"><i class="material-icons left">
        help</i>Help</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Github</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div>
  <div class="row nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab col s4"><a routerLink="/" class="active">Github</a></li>
      <li class="tab col s4"><a routerLink="/stackoverflow">Stack Overflow</a></li>
      <li class="tab col s4"><a routerLink="/twitter">Twitter</a></li>
    </ul>
  </div>
</nav>
