<div>

  <!--Search input-->
  <div class="container input-field col s6" style="width: 40%">
    <i class="material-icons prefix">account_circle</i>
    <input id="icon_prefix" type="text" class="validate" [(ngModel)]="id" name="id" (keyup.enter) = "_get();test()" autofocus>
  </div>

  <!--Profile Card-->
  <div class="row">
    <div class="col s12 m12 l2 xl2">
      <div class="card">
        <div class="card-image">
          <img src="{{user.profile_image}}">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">{{user.display_name}}</span>
          <p class="light">From: <span class="blue-grey-text"><strong>{{user.location}}</strong></span></p>
          <p class="light">Joined: <span class="blue-grey-text"><strong>{{user.creation_date | date:'longDate'}}</strong></span></p>
          <p class="light">Age: <span class="blue-grey-text"><strong>{{user.age}}</strong></span></p>
          <p class="light">Accept Rate: <span class="blue-grey-text"><strong>{{user.accept_rate}}</strong></span></p>
          <p class="light">Reputation: <span class="blue-grey-text"><strong>{{user.reputation}}</strong></span></p>
          <br />
          <a class="waves-effect waves-light btn blue darken-3" href="{{user.website_url}}" target="_blank">Website</a>
        </div>
        <div class="card-reveal">
        </div>
      </div>
    </div>

    <div class="col l10 xl10">
      <app-dashboard [id]="id" [user]="user"></app-dashboard>
      <div class="row">
        <div class="col l5 xl5 m12 s12"></div>
        <div class="col l7 xl7 m12 s12"><app-tags [id]="id"></app-tags></div>
      </div>

    </div>
  </div>
</div>

