<div AgWordCloud *ngIf="bool"
     #word_cloud_chart=ag-word-cloud
     [wordData]="myWordData"
     [options]="options">
</div>

<div>
  <div *ngIf="!bool" style="">
    <br /> <br /> <br />
    <div class="preloader-wrapper big active" align="middle">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
      </div>
    </div>
  </div>

</div>
